header{
    background-color: bisque;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    
}

body{
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, beige rgb(255, 184, 52));
    text-align: justify;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
}

footer{
    text-align: center;
}